html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.nonideal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nonideal-header {
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

.nonideal-text {
  margin: 0;
}
