html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: whitesmoke;
}

.body {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-graphic {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-header {
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

.body-text {
  margin: 0;
}
